body {


}


.items_carusel {
  margin-top: -10rem;

}
.section_carusel_style {

  margin-top: -12rem;
  padding-bottom: 3rem;

}

.section_padding_style {

  padding-top: 5rem;
  padding-bottom: 5rem;

}

.section_helper_padding {

  padding-top: 2rem;

}
