body {


}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100i');

// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

.intro_hockey_container {


  height: inherit;
  margin-top: -10rem;

  img {

    width: auto;
    height: 240px;

  }

  .intro_kids_style {


      background: #0052D4;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      height: 50vh;
      margin-top: auto;

      .btn_intro_space {

        margin-top: 2.2rem;
        margin-bottom: auto;

    }

       .btn_radius_style {
           border-radius: 0px;
       }

      .text_intro_styles {
        margin-top: 2.3rem;
        margin-bottom: 3rem;
        font-family: 'Open Sans', sans-serif;


      }

  }

  .intro_adults_style {

    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
      height: 50vh;
      margin-top: auto;

      .btn_intro_space {

        margin-top: 2.2rem;
        margin-bottom: auto;

    }

       .btn_radius_style {
           border-radius: 0px;
       }

      .text_intro_styles {
        margin-top: 2.3rem;
        margin-bottom: 3rem;
        font-family: 'Open Sans', sans-serif;


      }
  }
}



@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .intro_adults_style {

      height: 100vh;
  }

 }
